/* 🎨 CSS Overrides - Enhance your Firefox UI! */

/* Center the text in the URL bar */
@import url("urlbar_centered_text.css");

/* Center the label in tabs */
@import url("centered_tab_label.css");

/* Make findbar float on top of web content */
@import url("floating_findbar_on_top.css");

/* Replace some content context menu items with icons */
@import url("iconized_content_context_menu.css");

/* Replace some main menu items with icons */
@import url("iconized_main_menu.css");

/* Replace default loading indicator with a bouncing line */
@import url("loading_indicator_bouncing_line.css");

/* Merge tabs and navbar to one line */
@import url("navbar_tabs_oneliner.css");

/* Show toolbars as overlay when in fullscreen mode */
@import url("overlay_fullscreen_toolbars.css");

/* Make tabs fill available width in tabbar */
@import url("tabs_fill_available_width.css");

/* Show audio icons as overlay on tabs */
@import url("overlay_tab_audio_icons.css");

/* Add scale effect when clicking buttons */
@import url("button_effect_scale_onclick.css");

/* 🚀 Personal Overrides - Customize your Firefox experience! */

/* Set the toolbar background color */
:root {
    --toolbar-bgcolor: black !important;
    --toolbarbutton-hover-background: unset !important;
}

/* Hide various UI elements */
/* #alltabs-button, */
/* #identity-icon-box, */
/* #urlbar .search-one-offs, */
/* .titlebar-buttonbox-container, */
.private-browsing-indicator-label,
#identity-icon-label,
.titlebar-spacer {
    display: none !important;
}

/* Hide various urlbar box backgrounds */
#identity-icon-box,
#tracking-protection-icon-container,
.urlbar-page-action {
    background-color: transparent !important;
}

/* Reduce opacity of the container icons */
.urlbar-addon-page-action {
    opacity: 0.6 !important;
}

/* Custom styling for the navigator toolbox */
#navigator-toolbox {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    --uc-navigationbar-width: 50vw;
    --uc-toolbar-height: 40px;
    --uc-urlbar-min-width: calc(var(--uc-navigationbar-width) - 105px);
    /* minimum width for opened urlbar */
}

/* Apply a blur effect when a modal dialog is open */
browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"]>body>#browser {
    filter: blur(10px)
}

/* Page Dimming Effect */
.browserContainer {
    filter: none;
    transform: scale(1);
    transition: filter 0.2s ease, transform 0.1s cubic-bezier(0, 1, .5, 1);
}

:has(#urlbar[open]) .browserContainer {
    filter: blur(10px) brightness(0.7);
    transform: scale(1.05);
    transition: filter 2.0s ease, transform 1.0s cubic-bezier(0, 1, .5, 1);
}

/* URL Bar - Default State */
#urlbar:not([open], [focused]) {

    & .urlbar-input-box {
        opacity: 0.5 !important;
        padding-left: 0.25vw !important;
        /* transition: opacity 3s 1s; */
        transition: opacity 3s;
    }

    & .urlbar-page-action {
        min-width: 20px !important;
    }

    & #identity-box,
    & #tracking-protection-icon-container,
    & #page-action-buttons {
        margin-inline-end: 0 !important;
        opacity: 0;
        padding-inline: 0 !important;
        /* transition: opacity 3s 1s; */
        transition: opacity 3s;
    }
}

/* URL Bar - Focused State */
#urlbar:is([focused]) {
    & .urlbar-input-box {
        opacity: 0.75 !important;
        padding-left: 0.25vw !important;
        transition: opacity 0.5s;
    }

    & #identity-box,
    & #tracking-protection-icon-container,
    & #page-action-buttons {
        margin-inline-end: 0 !important;
        opacity: 0.25;
        padding-inline: 0 !important;
        transition: opacity 0.5s;
    }
}

/* URL Bar - Hover/Open State */
#urlbar-container:hover,
#urlbar:is([open]) {
    & .urlbar-input-box {
        opacity: 1 !important;
        padding-left: 0.25vw !important;
        transition: opacity 0.1s;
    }

    & #identity-box,
    & #tracking-protection-icon-container,
    & #page-action-buttons {
        margin-inline-end: 0 !important;
        opacity: 1;
        padding-inline: 0 !important;
        transition: opacity 0.1s;
    }
}

#urlbar-background {
    backdrop-filter: blur(10px) !important;
    opacity: 0.7 !important;
}

/* Remove borders from the navigator toolbox and navigation bar */
#navigator-toolbox,
#nav-bar {
    border: none !important;
}

/* Status Panel */
#statuspanel:not([type="status"]) {
    filter: brightness(75%) !important;
    margin: 10px !important;
}

#statuspanel-label {
    background: var(--zen-colors-tertiary) !important;
    border: none !important;
    border-radius: 10000px !important;
    padding: 2px 10px !important;
}

/* Remove the gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: unset !important;
}

/* Toggle opacity of elements on hover */
.tabbrowser-tab .tab-close-button {
    opacity: 0;
    transition: opacity 0.1s;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    opacity: 1 !important;
}

/* Adjust opacity of tab labels */
.tab-label {
    opacity: 0.8;
}

/* Hide the titlebar button box container */
.titlebar-buttonbox-container {
    display: none !important;
}